.Header {
    height: 7%;
    background-color: #fff;
}

.Logo {
    width: 50px;
    height: 50px;
}

.Navigation {
    height: 100%;
}

.Navigation ul {
    padding: 0 20px;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
}

.LogoItem {
    margin-right: auto;
}

.socialLogo {
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
}